.ft-ako-upload-form-overlay {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ft-ako-upload-form-overlay-content {
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background: whitesmoke;
  opacity: 1;
  display: none;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.ft-ako-upload-form-overlay:hover > .ft-ako-upload-form-overlay-content {
  display: flex;
}

.ft-ako-upload-form-button:active  {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(.98);
}

.ft-ako-upload-form-button-icon {
  opacity: 1;
  width: 100%;
  height: 80px;
  display: block;
  margin-bottom: 40px;
  z-index: -1;
}

.ft-ako-upload-form-overlay-contentn.success {
  background: #60A917;
}

.ft-ako-upload-form-overlay-content.failed {
  background: #DA3F2F;
  color: white;
  outline: 2px dashed #b99999;
}

.ft-ako-upload-form-overlay-content.uploading {
  background: lightskyblue;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
